<h2><%= @user.first_name + " " + @user.last_name %></h2><br>
<div class="row">
<%= render @user.works %>
</div><br>
<% if @user == current_user %>
<%= link_to "Edit Works", edit_profile_path %>
<% end %>
