<div class="media">
  <% message = receipt.message %>
  <div class="media-body">
    <h6 class="media-heading"><%= message.sender.full_name %>
      says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></h6>
    <%= message.body %>
  </div>
</div>
