<div class="col-md-4">
  <div class="thumbnail_container">
    <div class="thumbnail">
      <%= image_tag work.image.url(:large) %>
    </div>
    <div class="thumbnail-text">
      <em><%= work.name %></em><br>
      <%= User.find(work.user_id).full_name %>
    </div>
  </div>
</div>
