<h2><%= @user.first_name + " " + @user.last_name %></h2><br>
<div class="row">
<%= render @user.works %>
</div><br><br>
location: <br>
Roof party bitters authentic synth. Tilde bespoke pickled forage Godard, 3 wolf moon artisan Bushwick hella XOXO ennui semiotics. Mixtape tote bag narwhal umami Intelligentsia. Deep v roof party Odd Future, flannel fixie fingerstache bitters cardigan locavore distillery art party tofu ethical ugh. Butcher mlkshk leggings, fingerstache literally umami Wes Anderson food truck hashtag synth. Retro slow-carb ethical, VHS tilde Blue Bottle asymmetrical listicle before they sold out Austin keffiyeh. Four loko flexitarian tofu pug, photo booth American Apparel seitan skateboard shabby chic occupy Thundercats organic viral irony.

