<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <div class="site-wrapper">
      <div class="site-wrapper-inner">
	<div class="cover-container">
	  <div class="inner cover">
	    <h1>NEW AESTHETICS</h1>
	    <p class="lead">the new arts network</p>
	    <p class="lead"><a href="/users/sign_in" class="btn btn-lg btn-default">login</a>
	    <p class="lead"><a href="/users/sign_up" class="btn btn-lg btn-default">signup</a>
	  </div>
	</div>
      </div>
    </div>

  </body>
</html>
