<div class="footer navbar-fixed-bottom" style="text-align:right;color:rgba(255,255,255,0.5);"><i>new aesthetic</i> &copy; 2015 Chodosh, Larcombe & Veltri <i><%= link_to "About Us", about_path %></i>&nbsp;&nbsp;
</div>
