<div class="users-search" id="remote">
  <%= form_tag search_path, :method => 'get', :class => 'search-bar-center' do %>
      <div class="form-group">
        <span><%= text_field_tag :query, params[:query], :class => 'search rounded searchfield', :placeholder => "    Search for an artist..." %>
        <%= submit_tag('',style: 'width:0;height:0;display:none;') %>
      </div>
  <% end %>
</div>
