<span class="searchbar">
  <%= form_tag search_path, :method => 'get', :class => 'navbar-form navbar-left' do %>
      <div class="form-group">
        <%= text_field_tag(:query) %>
      </div>
      <%= submit_tag "Search", class: 'btn btn-primary', id: 'search-btn' %>
  <% end %>
</span>
