<% @user ||= current_user %>
<div class="stats">
  </a>
  <a href="<%= followers_profile_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
