<% if @artists.length > 0 %>
  <%= render 'searchbar' %>
  <% @artists.each do |artist| %>
  <p><%= (link_to "#{artist.full_name}", profile_path(artist)) %></p>
  <% end %>
<%# elsif @works.length > 0 %>
  <%# @works.each do |work| %>
    <%# render Work.find(work) %>
    <% #end %>
<% else %>
  <%= render 'searchbar' %>
  <p style="text-align: center;">No matches found. Please try again or visit our <%= link_to "discovery", discover_path %> page.</p>
<% end %>
